/* 
    sass --watch sass/style.scss assets/css/styles.css
*/
@font-face {
  font-family: "montserrat";
  src: url("../public/fonts/montserrat-medium-webfont.woff2") format("woff2"), url("../public/fonts/montserrat-medium-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserrat";
  src: url("../public/fonts/montserrat-bold-webfont.woff2") format("woff2"), url("../public/fonts/montserrat-bold-webfont.woff") format("woff");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "montserratsemibold";
  src: url("../public/fonts/montserrat-semibold-webfont.woff2") format("woff2"), url("../public/fonts/montserrat-semibold-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "montserratlight";
  src: url("../public/fonts/montserrat-light-webfont.woff2") format("woff2"), url("../public/fonts/montserrat-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../public/fonts/Gotham-Bold.eot?#iefix") format("embedded-opentype"), url("../public/fonts/Gotham-Bold.otf") format("opentype"), url("../public/fonts/Gotham-Bold.woff") format("woff"), url("../public/fonts/Gotham-Bold.ttf") format("truetype"), url("../public/fonts/Gotham-Bold.svg#Gotham-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
}
body {
  font-family: "Gotham", sans-serif;
  background-image: url(../public/img/nasa/background.jpg);
  background-size: cover;
  overflow-x: hidden;
  background-repeat: no-repeat;
  background-color: #090919;
  min-height: 100vh;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
}
.container.center-elements-vertical {
  align-items: center;
  min-height: 100vh;
  /*display: flex;*/
}

.top-background {
  position: absolute;
  top: 0;
  width: 100%;
  max-width: 1920px;
  height: 30vh;
  max-height: 325px;
  z-index: 3;
  background-image: url(../public/img/nasa/top-background-2.png);
  background-repeat: no-repeat;
  background-size: contain;
  pointer-events: none;
}

.bottom-background {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 1920px;
  height: 40vh;
  max-height: 538px;
  z-index: 2;
  background-image: url(../public/img/nasa/bottom-background.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right bottom;
  pointer-events: none;
}

h1 {
  font-size: 87px;
  line-height: 103px;
  font-weight: bold;
  font-family: "Gotham", sans-serif;
  color: #ffd463;
  text-align: center;
}

h2 {
  text-align: center;
  font-family: "Gotham", sans-serif;
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
  font-size: 23px;
}

.box-container {
  position: relative;
  float: left;
  background: #292929;
  background: linear-gradient(217deg, #292929 0%, #1d2056 3%, #1b1e4f 14%, black 100%);
  box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
  margin: 50px 0;
}
.box-container .wrapper--box-container {
  border-width: 1px;
  border-style: solid;
  border-color: red;
  border-color: #ffd463;
  margin: 30px;
  padding: 30px;
}

.content-title .line {
  content: " ";
  height: 5px;
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 25px;
  width: 1500px;
  background: #e8a34d;
  background: linear-gradient(135deg, #e8a34d 0%, #fdecbb 7%, #e8a34d 35%, #e5a347 62%, #fdecbb 89%, #e2a341 100%);
}

.content-title .line--left {
  left: -1510px;
}

.content-title .line--right {
  left: 280px;
}

.form-container {
  margin-bottom: 100px;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  /*-webkit-appearance: none;*/
  box-shadow: none !important;
}

.form-container label {
  color: #013565;
  border-radius: 30px;
  border-width: 0px;
  border-style: solid;
  border-color: transparent;
  font-size: 25px;
  text-transform: uppercase;
  text-align: center;
  max-width: 329px;
  width: 100%;
  padding: 9px 10px;
  background: #e8a34d;
  background: linear-gradient(135deg, #e8a34d 0%, #fdecbb 7%, #e8a34d 35%, #e5a347 62%, #fdecbb 89%, #e2a341 100%);
}

.form-container input {
  font-size: 25px;
  border-radius: 30px;
  border-width: 4px;
  border-style: solid;
  border-color: #fff;
  min-width: 329px;
  padding: 9px 10px;
  background: rgba(0, 0, 0, 0.5);
}

.form-container input:focus,
.form-container input:active {
  outline: none;
  background: rgba(0, 0, 0, 0.5);
}

.form-container .form-group small {
  display: none;
}

.form-container button {
  margin: 50px auto 0;
  display: table;
}

.content-big-title {
  margin-top: -132px;
  align-items: center;
  display: flex;
  height: 100vh;
}

.content-big-title .line {
  content: " ";
  height: 5px;
  width: 200px;
  background-color: #fff;
  position: absolute;
  top: 52px;
  width: 1500px;
  background: #fff;
}

.content-big-title .line--left {
  left: calc(-50% - 1030px);
}

.content-big-title .line--right {
  left: calc(50% + 325px);
}

.btn-primary {
  padding: 9px 50px;
  color: #1f2152 !important;
  font-size: 18px;
  font-weight: bold;
  border-width: 0;
  border-radius: 30px;
  border-style: solid;
  border-color: #fff;
  background: #e9bb5c;
  background: linear-gradient(83deg, #e9bb5c 0%, #e8bb5b 35%, #fae984 44%, #a57525 80%, #e8bb5b 92%);
  text-transform: uppercase;
  box-shadow: 0 0 20px -4px rgba(0, 0, 0, 0.3);
  transition: all 0.5s ease-out;
}
.btn-primary:hover {
  background: rgba(232, 187, 91, 0.8) !important;
  color: #fff !important;
  outline: none;
  box-shadow: none;
}
.btn-primary:focus {
  outline: none;
  box-shadow: none;
  background: rgba(232, 187, 91, 0.8) !important;
  color: #fff !important;
}

.btn-play {
  color: #fff !important;
  font-size: 36px;
}
.btn-play img {
  top: -2px;
  position: relative;
}

footer {
  position: relative;
}

footer .logo-footer {
  position: absolute;
  right: 15px;
  bottom: 15px;
  z-index: 12;
}
footer .logo-footer img {
  height: 18vh;
}

section {
  overflow: hidden;
}

.show-video .text-sonido {
  color: #fff;
  text-align: center;
  font-weight: lighter;
  margin-top: 15px;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 15px;
}

form {
  z-index: 3;
  position: relative;
}
form label {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  color: #fff;
}
form input {
  font-family: "Roboto", sans-serif;
  font-weight: 300 !important;
  font-size: 20px !important;
  border-radius: 0 !important;
}
form .buttons-form {
  margin: 30px 0 30px;
}
.logo-footer img{
  max-height: 100px;
}
.disc-sitio {
  text-align: center;
  color: #ffffff;
  font-size: 12px;
  font-weight: 100;
  z-index: 3;
  width: 100%;
  font-family: sans-serif; 
  padding: 5px;
  overflow-x: hidden;                               
}
@media (min-width: 1100px) {
  .show-video.reproductor {
    width: calc(100% + 200px);
    margin-left: -100px;
    margin-bottom: -70px;
  }
  .show-video.reproductor .col-12 {
    border-width: 1px;
    border-style: solid;
    border-color: #ffd463;
    padding: 0;
  }

  form {
    width: calc(100% + 200px);
    margin-left: -100px;
    margin-top: 70px;
    padding: 0 65px;
    margin-top: -11px;
  }

}

@media (min-width: 992px) and (max-height: 650px) {
  .bottom-background {
    height: 30vh;
  }
  footer .logo-footer {
    position: absolute;
    right: 15px;
    bottom: 15px;
    z-index: 12;
  }
  footer .logo-footer img {
    height: 11vh;
  } 

}
@media (max-width: 769px) {
  h1 {
    font-size: 35px;
    line-height: 35px;
  }

  .top-background {
    height: 190px;
    background-size: cover;
    position: relative;
    margin-bottom: -140px;
  }

  .btn-primary {
    padding: 9px 17px;
  }

  .btn-play {
    font-size: 25px;
  }

  .load-video {
    min-height: 250px;
  }

  /*footer .logo-footer {
    position: relative;
    right: auto;
    bottom: 140px;
    z-index: 12;
    margin: 5px auto 0;
    display: table;
    max-width: 100px;
    padding-bottom: 20px;
  }*/
  footer .logo-footer img {
    height: auto;
    width: 100%;

  }  
  
  .container.center-elements-vertical {
    align-items: center;
    min-height: auto;
    /*display: flex;*/
  }

  .logo-footer-desktop {
    display: none;
  }
  .logo-footer-mobile img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;    
  }
  .disc-sitio {
    position: relative;
    margin-top: 0;
  }  
  .bottom-background {
    display: none;
  }
}
@media (min-width:769px) {
  .logo-footer-mobile {
    display: none;
  }

  .disc-sitio {
    position: absolute;
    bottom: 0;
  }  
}


/*# sourceMappingURL=styles.css.map */
