/* 
	sass --watch resources/sass/styles.scss assets/css/styles.css
*/
i {
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  position: relative;
  float: left;
  background-size: cover;
}
i.icon-care {
  background-image: url(../img/reacciones/png_64/care.png);
}
i.icon-haha {
  background-image: url(../img/reacciones/png_64/haha.png);
}
i.icon-like {
  background-image: url(../img/reacciones/png_64/like.png);
}
i.icon-love {
  background-image: url(../img/reacciones/png_64/love.png);
}
i.icon-sad {
  background-image: url(../img/reacciones/png_64/sad.png);
}
i.icon-wow {
  background-image: url(../img/reacciones/png_64/wow.png);
}
i.icon-aplauso {
  background-image: url(../img/reacciones/png_64/aplauso.png);
}
.animate i {
  position: absolute;
  right: 20px;
  bottom: 20px;
  opacity: 1;
  animation-duration: 4s;
}

@keyframes animate_1 {
  0% {
    right: 0px;
    bottom: 0px;
    opacity: 0.3;
  }
  25% {
    right: 20px;
    opacity: 1;
  }
  50% {
    right: -20px;
  }
  75% {
    right: 0px;
    bottom: 200px;
  }
  100% {
    right: 0px;
    bottom: 200px;
    opacity: 0;
  }
}
@keyframes animate_2 {
  0% {
    right: 0px;
    bottom: 0px;
    opacity: 0.3;
  }
  25% {
    right: -20px;
    opacity: 1;
  }
  50% {
    right: 20px;
  }
  75% {
    right: 0px;
    bottom: 200px;
  }
  100% {
    right: 0px;
    bottom: 200px;
    opacity: 0;
  }
}
h1, h2, h3, p {
  font-family: "Roboto", sans-serif;
}

body {
  background: #471f4d;
  background: radial-gradient(circle, #471f4d 54%, black 100%);
}

main {
  background-image: url(../img/dermatalks/base-derma.jpg);
  height: calc(100vh - 40px);
  background-size: cover;
  background-position: top;
  position: relative;
  float: left;
  width: 100%;
  height: calc(100vh - 80px);
}
main .derma-logo-1 {
  position: absolute;
  left: -38px;
  width: 327px;
  top: 360px;
}
main .derma-logo-2 {
  position: absolute;
  right: 15px;
  width: 169px;
  top: 480px;
}

.container {
  max-width: 1600px;
}

.content-video {
  position: relative;
  max-width: 720px;
  width: 90%;
  margin: 30px auto;
  z-index: 100;
}
.content-video .reactions {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
.content-video iframe {
  width: 100%;
}
.content-video .content-reactions {
  position: relative;
  float: left;
  height: 40px;
  width: 100%;
}
.content-video .content-reactions a {
  position: relative;
  float: left;
  margin-right: 2px;
  cursor: pointer;
}


footer {
  background-color: #fff;
  position: relative;
  height: 139px;
  float: left;
  width: 100%;
  bottom: 0;
  z-index: 101;
}
footer .info {
  margin-top: 16px;
}
footer .col-content-logo p.address {
  margin: 8px 0 0 12px;
  float: left;
  font-size: 12px;
  line-height: 14px;
}
footer .logo {
  width: 100%;
  max-width: 267px;
  float: left;
  margin: 6px 7px 0 0;
}
footer .line-footer {
  height: 3px;
  margin: 4px 0 2px;
  background-color: #871c61;
  border-width: 0 0 3px 0;
  border-style: solid;
  border-color: #a25085;
}
footer p {
  font-size: 12px;
}
footer .content-qr {
  display: flex;
  float: right;
  align-items: flex-end;
}
footer .content-qr p {
  margin: 0 0 4px 0;
  max-width: 150px;
  line-height: 14px;
}
footer .content-qr .image-qr img {
  width: 90px;
  height: 90px;
}
footer .last-line {
  margin: 15px 0 15px 0;
}

@media (max-width: 768px) {
  footer {
    height: auto;
  }

  footer .content-qr p {
    max-width: 50%;
  }

  footer .col-content-logo p.address {
    margin: 15px 0 0;
  }
}
@media (max-width: 1024px) {
  footer {
    height: auto;
  }

  footer .content-qr p {
    max-width: 100%;
  }

  footer .content-qr {
    margin-bottom: 10px;
  }
  footer .content-qr .image-qr img {
    width: 60px;
    height: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1024px) {
  main .derma-logo-1 {
    bottom: 12px;
  }

  main .derma-logo-2 {
    bottom: 154px;
  }
}
@media (max-width: 768px) {
  main .derma-logo-1 {
    bottom: 80px;
  }

  main .derma-logo-2 {
    bottom: 230px;
  }
}
@media (max-width: 640px) {
  .content-video {
    margin: 60px 0 0 0;
    width: 100%;
  }
  .content-video iframe {
    height: 220px;
  }

  main .derma-logo-1 {
    width: 59%;
    top: 370px;
  }
  main .derma-logo-2 {
    width: 36%;
    top: 454px;
  }
}

/*# sourceMappingURL=styles.css.map */

.disc-sitio {
  font-size: 11px;
  color: #fff;
  text-align: center;
  font-weight: 400;
  font-family: "Gotham", sans-serif;
}

.btn-primary, .btn-primary.disabled, .btn-primary:disabled {
  color: #fff!important;
  background-color: #810941!important;
  border-color: #ffffff!important;
}

.form-control-pregunta {
  border-color: #810941;
  border-width: 2px;
  margin-bottom: 5px;
}