#wspIframe {float:right!important;left:auto!important; right: 0px !important;}
#clgo {
  display: none!important;
}
.home .logo {
  max-width: 165px;
}

.home .title h1 {
  line-height: 75px;
  font-size: 70px;
}

.home .title h1 .big {
  font-size: 80px;
}

.btn-primary {
  font-size: 20px;
}
.btn-primary.btn-big {
  font-size: 22px;
}


section {
  min-height: calc(100vh - 20px);
}
@media (min-width:990px) {
  .home .title h2 {
    line-height: 30px;
    font-size: 30px;
    padding: 0 36px;
  }
  .general .mensaje-full {
    min-height: calc(100vh - 215px);
  }

  .btn-primary.btn-big {
    font-size: 22px;
  }
  
  .home .text-top {
    margin: 40px 0 -10px;
  }  

  .home .fecha {
    margin: 20px 0 0;
  }
  .general .text-top {
    margin: 40px 0 0px;
  }
  input.form-control, input.custom-select, select.form-control, select.custom-select {
    font-size: 20px !important;
    color: #000 !important;
    padding: 10px 30px;
    border-width: 5px;
    height: 50px;
  } 
  
  .general.registro .margin-top-section {
    margin-top: 0;
}

}

@media(max-width:776px) {
  .container-general {
    margin-bottom: 20px;
  }
}